@CHARSET "UTF-8";

.contactSection{
	bottom: 84px;
}

.addContactSection{
	padding-top: 10px;
}

.contactName{
	text-size: 1.2em;
	font-weight: bold;
}

.addContactName{
	color: rgb(40,40,40);
	text-size: 1.2em;
	font-weight: bold;
	float: left;
}

.contactWrapper{
	color: rgb(20,20,20);	
	text-align: left;
	border: 2px;
	border-style: groove;	
	background-color: rgba(200,200,200,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
	overflow: auto;
	white-space:nowrap;
}

.contactWrapper:nth-child(odd){
	background-color: rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FFFFFFF', EndColorStr='#7FFFFFFF');
}

.contactWrapper:hover *{
	cursor: pointer;
	background-color: rgba(160,180,200,0.7);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
}

.contactWrapperNoHover{
	color: rgb(20,20,20);
	min-height: 40px;
	text-align: left;
	border: 2px;
	border-style: groove;	
	background-color: rgba(200,200,200,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FAAAAAA', EndColorStr='#7FAAAAAA');
}

.contactWrapperNoHover:nth-child(odd){
	background-color: rgba(255,255,255,0.5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7FFFFFFF', EndColorStr='#7FFFFFFF');
}
.contactImg{
	background: url("../img/msgRead.png");
	width: 40px;
	height: 40px;
	background-size: 100%;
	float: left;
}
.contactHasUnreadMessages .contactImg{
	background: url("../img/msgUnread.png");
	background-size: 100%;
}
.contactHasUnreadMessages{
	color: rgb(20,20,220);
}

.contactWrapperNoHover .contactImg{
	background: url("../img/msgUnApproved.png");
	background-size: 100%;
}


