@CHARSET "UTF-8";

a{
	color: rgb(30,30,30);
	text-decoration: none;
	font-weight: bold;
}

h1{
	font-style:bold;
	font-family:serif;
	color:white;
	font-size: 1.8em;
	display: inline;
}

h2{
	font-style:bold;
	font-family:serif;
	color:white;
	font-size: 1.4em;
	display: inline;
}

body{
	overflow: hidden;
	color: white;
}

#bigLogoLabel{
	background-image: url("../img/logolabel.png");
	background-size: 100% 100%;
	background-position: center center;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 50px;
	height:100px;
	width:200px;
	z-index: -2;
}
#bigLogo{
	background-image: url("../img/logo.png");
	background-size: 100% 100%;
	background-position: center center;
	text-align: center;
	display: inline-block;
	position: relative;
	top: 20px;
	height:100px;
	width:100px;
	z-index: -2;
}
#logoBGContainer{
	background-image: url("../img/logo.png");
	background-size: 100% 100%;
	background-position: center center;
	position: absolute;
	top: 2px;
	right: 0;
	text-align: center;
	display: block;
	height:20px;
	width:20px;
	z-index: -2;
}

#container{
	position: absolute;
	top: 0px;
	bottom: 0px; 
	left: 0px;
	right: 0px;
	text-align: center;
	display: block;
	height:100%;
	width:100%;	
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -3; 
}

header{
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

section{
	width: 100%;
	position: absolute;
	top: 50px;
	z-index: 0;
}

footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 0;
}

.noAbsolute{
	position: relative;
	top:0px;
}
.black{
	background: rgb(40,40,40);
	border: 2px;
	border-style: groove;
	color: rgb(220,220,220);	
}

.greyed *{
	background: rgb(120,120,120);
}

.greyed:hover *{
	background: rgb(150,150,150);
}

.pointerOnHover:hover {
	cursor: pointer;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.h30
{
	height: 30px;
}

.h40
{
	height: 40px;
}

.h50
{
	height: 50px;
}

.h60
{
	height: 60px;
}

.h80
{
	height: 80px;
}


.w30
{
	width: 30px;
}

.w40
{
	width: 40px;
}

.w50
{
	width: 50px;
}
.w60
{
	width: 60px;
}
.w80
{
	width: 80px;
}

.scroll{
	overflow-y: auto;
}

.block {
	display: block;
}

.messageSection{
	bottom: 100px;
}

input {
	width:90%;
}

input.back {
	background: url("../img/back.png");
	background-size: 100% 100%;
}

input.add {
	background: url("../img/add.png");
	background-size: 100% 100%;
}

input.delete {
	background: url("../img/delete.png");
	background-size: 100% 100%;
	display: inline;
}

input.ignore {
	background: url("../img/ignore.png");
	background-size: 100% 100%;
	display: inline;
}

input.contactRequests, input.contactRequests:hover{
	font-size: 1.6em;
	color: rgb(200,220,220);
	background: url("../img/contactRequests.png");
	background-size: 100% 100%;
	-webkit-text-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.9);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		1px 2px 3px rgba(255,255,255,0.9);
}

input.logout {
	background: url("../img/logout.png");
	background-size: 100% 100%;
}

input.settings {
	background: url("../img/settings.png");
	background-size: 100% 100%;
}


input.error {
	border: 2px solid red;
}

input.valid {
	border: 2px solid green;
}

.error {
	color: red;
}
.valid {
	color: green;
}
label {
	display: block;
}
label.error {
	display: block;
	color: red;
}
label.valid {
	display: none;
}


.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #212121;
	padding: 7px 15px;
	background: -moz-linear-gradient(
		top,
		rgb(210,223,237) 0%,
		rgb(186,208,239));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(200,213,227)),
		to(rgb(176,198,229)));
	border: 2px solid #262526;
	-moz-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 7px 15px;
	background: -moz-linear-gradient(
		top,
		rgb(210,223,237) 0%,
		rgb(186,208,239));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(210,223,237)),
		to(rgb(186,208,239)));
	border: 2px solid #424242;
	-moz-box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	box-shadow:
		3px 4px 3px rgba(000,000,000,0.6),
		inset -1px -1px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	cursor: pointer;
}

.imageButton {
	border: none;
	opacity: 0.7;
}

.imageButton:hover {
	cursor: pointer;
	opacity: 1;
	-moz-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	box-shadow:
		1px 2px 3px rgba(000,000,000,0.6),
		inset 1px 1px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
